.user-template-user-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%; }

.user-template-user-tab__help {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.25rem; }

.user-template-user-tab__help--open {
  margin-bottom: 1.25rem; }

.user-template-user-tab__help-icon {
  cursor: pointer;
  margin-left: 0.75rem;
  min-width: 24px; }

.user-template-user-tab__content {
  display: flex;
  flex: 1;
  flex-direction: row; }

.user-template-user-tab__select-container {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .user-template-user-tab__select-container + .user-template-user-tab__select-container {
    margin-left: 2rem; }

.user-template-user-tab__select-title {
  font-weight: bold;
  margin-left: 0.8rem;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem; }

.user-template-user-tab__filtered-multi-select {
  display: flex;
  flex: 1;
  flex-direction: column; }

.user-template-user-tab__select {
  flex: 1;
  max-height: 500px;
  z-index: 0; }

.user-template-user-tab__save-button {
  align-items: center;
  display: flex;
  margin-top: 0.4rem; 
  margin-left: 13px;
}

.user-template-user-tab__input label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-left: 0.8rem; }

   
.user-template-user-tab__label {
  margin-bottom: 0.2rem;
  margin-left: 0.8rem;
  font-size: 1.25em;
  font-weight: bold;
}
 
.user-template-select {
  margin-left: 12px;
}