.date-picker .MuiDialog-container .MuiPaper-root {
    width: 37%;
    margin: auto;
}

.dx-scheduler-group-row:before,
.dx-scheduler-header-row:before,
.dx-scheduler-all-day-table-row:before {
    width: 0px;
}

.scheduler-row {
    margin-top: 20px;
}

.repeat {
    display: grid;
}

.MuiInputBase-root.Mui-disabled,
.MuiOutlinedInput-root,
.MuiSelect-select {
    height: 40px;
    font-size: 14px;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 14px;
    height: 40px;
    font-size: 14px;
}

.textarea {
    border: 1px solid #49505757;
    border-radius: 5px;
    padding: 5px;
}

.font-size {
    font-size: 13px;
    color: #6c757dd1;
}

.MuiDialog-container .MuiSwitch-root {
    margin: -7px;
}

.scheduler-textarea {
    margin-top: 10px;
}

.MuiFormControl-root .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 12px) scale(1);
    pointer-events: none;
}

.MuiInputBase-root .MuiSelect-outlined.MuiSelect-outlined {
    background-color: white;
}

.endDate-label {
    margin: 13px -1px;
}

.daylist {
    margin-top: 15px;
    display: grid;
}

.selectDay .MuiPaper-root {
    top: 365px;
    width: 339px;
    left: 505px;
}

.MuiInputAdornment-root .MuiButtonBase-root,
.scheduler-textarea .textarea,
.MuiTextField-root:hover,
.MuiButtonGroup-root .MuiButtonBase-root,
.MuiTabs-flexContainer .MuiButtonBase-root,
.MuiPickersSlideTransition-transitionContainer .MuiButtonBase-root,
.MuiTableCell-root .MuiButtonBase-root {
    outline: none;
}

.MuiButtonGroup-root .MuiButtonBase-root {
    background-color: white;
}

/* .MuiPickersBasePicker-container .MuiPickersToolbar-toolbar,
.MuiTabs-flexContainer,
.MuiPickersCalendar-week .MuiPickersDay-daySelected,
.MuiPickersCalendar-week .MuiPickersDay-daySelected:hover,
.MuiPickersClock-clock .MuiPickersClockPointer-pointer,
.MuiPickersClock-clock .MuiPickersClock-pin {
    background-color: #ff4f1f;
} */

/* .MuiPickersClock-clock .MuiPickersClockPointer-noPoint {
    background-color: white;
}

.MuiPickersClock-clock .MuiPickersClockPointer-thumb {
    border: 14px solid #ff4f1f;
}



 */

.dayTypes {
    text-align: center;
}

.MuiButtonGroup-root .selected-days {
    background-color: #3f51b5;
    color: white;
    text-transform: capitalize;
}

.capitalize span {
    text-transform: capitalize;
}

#scheduleTemplate .MuiPaper-root {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.deleteMessage {
    margin: 15px 0px;
    font-size: 18px;
    color: #495057;
}

.MuiFormControl-root .MuiInputBase-input.Mui-disabled {
    font-weight: 600;
}

.userList {
    width: 100%;
}

.alert-dailog .MuiDialogTitle-root {
    height: 13px;
}

.alert-dailog .MuiDialogActions-root{
    height: 40px;
}

.confirm-title svg{
    margin: -2px 0px;
}