@import '../../../styles/variables';

.user-template-create-tab {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.user-template-create-tab__help {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: $m-size;
}

.user-template-create-tab__help--open {
    margin-bottom: $m-size;
}

.user-template-create-tab__help-icon {
    cursor: pointer;
    margin-left: $s-size;
    min-width: 24px;
}

.user-template-create-tab__content {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.user-template-create-tab__select-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    &+.user-template-create-tab__select-container {
        margin-left: $l-size;
    }
}

.user-template-create-tab__select-title {
    font-weight: bold;
    margin-left: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
}

.user-template-create-tab__filtered-multi-select {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.user-template-create-tab__select {
    flex: 1;
    max-height: 500px;
    z-index: 0;
}

.user-template-create-tab__save-button {
    align-items: center;
    display: flex;
    margin-top: 0.4rem;
}

.user-template-create-tab__input,
.user-template-create-tab__select-container {
    label {
        font-weight: bold;
        margin-bottom: 0.2rem;
    }
}

.user-template-create-tab__scroll {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.user-template-create-tab-row {
    width: 100%;
}

.user-template-create-tab__select .list-group {
    min-height: 250px;
}

.error-text {
    font-size: 12px;
    margin: -5px 0px;
    position: absolute;
    color: red;
}