@import '../../../styles/variables';
.user-template-edit-tab {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.user-template-edit-tab__help {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: $m-size;
}

.user-template-edit-tab__help--open {
    margin-bottom: $m-size;
}

.user-template-edit-tab__help-icon {
    cursor: pointer;
    margin-left: $s-size;
    min-width: 24px;
}

.user-template-edit-tab__content {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.user-template-edit-tab__select-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    &+.user-template-edit-tab__select-container {
        margin-left: $l-size;
    }
}

.user-template-edit-tab__select-title {
    font-weight: bold;
    // margin-left: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
}

.user-template-edit-tab__filtered-multi-select {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.user-template-edit-tab__select {
    flex: 1;
    max-height: 500px;
    z-index: 0;
}

.user-template-edit-tab__save-button {
    align-items: center;
    display: flex;
    margin-top: 0.4rem;
}

.user-template-edit-tab__input {
    label {
      font-weight: bold;
      margin-bottom: 0.2rem;
    //   margin-left: 0.8rem;
    }
}

.user-template-edit-tab__scroll {
    overflow-y: scroll;
    height: 100%;
    width: 100%; 
}

.user-template-edit-tab__del-button {
    margin-left: 5px;
}

.user-template-edit-tab-row{
    width: 100%;
}