.user-template-sup-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.user-template-sup-tab__help {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.25rem;
}

.user-template-sup-tab__help--open {
  margin-bottom: 1.25rem;
}

.user-template-sup-tab__help-icon {
  cursor: pointer;
  margin-left: 0.75rem;
  min-width: 24px;
}

.user-template-sup-tab__content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.user-template-sup-tab__select-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.user-template-sup-tab__select-container+.user-template-sup-tab__select-container {
  margin-left: 2rem;
}

.user-template-sup-tab__select-title {
  font-weight: bold;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}

.user-template-sup-tab__filtered-multi-select {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.user-template-sup-tab__select {
  flex: 1;
  max-height: 500px;
  z-index: 0;
}

.user-template-sup-tab__save-button {
  align-items: center;
  display: flex;
  margin-top: 0.4rem;
}

.user-template-sup-tab__input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.calendar-icon {
  font-size: 1.2rem;
  margin: -3px 0px;
}

.MuiSwitch-root {
  vertical-align: "";
}

.scheduledList {
  font-size: 12px;
  color: #000023;
  text-decoration: underline;
  cursor: pointer;
}


.schedulerList {
  font-size: 14px;
  cursor: pointer;
}

.schedulerList :hover {
  text-decoration: underline;
}