// Colors
$genesys-orange: #f15833;
$purecloud-blue: #388ba7;
$dark-grey: #333;
$grey: #666;
$blue: #4285f4;
$dark-blue: #364051;
$off-white: #f7f7f7;
$off-white-border: darken($off-white, 7%);
$tab-hover: lighten(#d7dbde, 10%);
$tab-selected: #d7dbde;

// Font Sizes
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

// Spacing
$s-size: 0.75rem;
$m-size: 1.25rem;
$l-size: 2rem;
$xl-size: 4rem;
$xxl-size: 6rem;

// Widths
$content-width: 70rem;
$desktop-breakpoint: 45rem;
$modal-min-width: 15rem;
