@import '../../../styles/variables';

.waiting-modal {
  min-width: $modal-min-width;
}

.waiting-modal--centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.waiting-modal__spinner {
  color: $genesys-orange;
}
