@import '../../../styles/variables';
.skill-list-tab__content {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  
  .skill-list-tab__content-label {
    align-items: center;
    display: flex;
    margin-right: 0.5rem;
  }
  
  .skill-list-tab__content-select {
    align-items: center;
    display: flex;
    flex:2;
  }
  
  .skill-list-tab__save-button {
    align-items: center;
  }
  .list-group-item:hover {
    z-index: auto !important
  }