body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-right: 0 !important;
}

.form-control {
  margin: 7px 0px;
}

.user-template-edit-tab__del-button {
  margin-left: 5px;
}

.btn-block {
  width: 31% !important;
}

.skill-list-tab__content-select {
  width: 50%;
  float: left;
}

#btnRemoveSkill {
  margin-left: 25px;
}

.user-template-edit-tab__scroll,
.user-template-create-tab__scroll {
  overflow: auto;
  height: 250px;
}

.user-template-button-loader {
  margin-right: 20px;
}