@import '../../styles/variables';

.user-template-tab {
  flex: 1;
}

.user-template-tab__tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.user-template-tab__tab-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-template-tab__tab-list {
  flex: 1;
}

.user-template-tab__tab[aria-selected='true'] {
  background-color: $tab-selected;

  &:after {
    border-bottom-color: $genesys-orange  !important;
  }
}

.user-template-tab__tab[aria-selected='false'] {
  &:hover {
    background-color: $tab-hover;
  }
}

.user-template-tab__tab-panel {
  display: flex;
  flex: 1;
  padding-top: $s-size;
}
